@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
        --bg-overlay-color: 255, 255, 255, 0.3;
        --main-text-color: #333;
        --button-text-color: #ffffe3;

}

* {
        margin: 0;
        padding: 0;
        border: 0;
}

html {
        overflow-x: hidden;
}

body {
        /* Main Body */
        font-family: 'Outfit', monospace;
        color: var(--main-text-color);
        line-height: 1.6;

        /* Flex Properties */
        min-height: 100vh;
        display: flex;
        flex-direction: column;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--bg-overlay-color));
    z-index: -1;
    pointer-events: none;
}

h1, h2, h3, p {
        margin-bottom: 1rem;
}

/* Base Button Style */
button {
        background-color: #333;
        color: var(--button-text-color);
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 1.2rem;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        transition: all ease 0.3s;
}

button:hover {
        background-color: #202020;
        transform: translateY(-2px);
}

button:active {
        transform: translateY(0);
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

main {
        overflow-y: hidden;
        overflow-x: hidden;
}

/* Main Section */
.homePage {
        display: flex;
        flex-direction: column;

        padding: 0 50px;

}

.mainContent {
        position: relative;
}

.mainText h1 {
        font-size: 3rem;
}

.mainText p {
        font-size: 1.5rem;
}

.homeButton {
        margin-top: 100px;
}

.homeButton button {
        font-size: 1.8rem;
}